# Salesforce local auth / cache (NO subir)
.sf/
.sfdx/

# Node / builds
node_modules/
dist/
coverage/

# OS / editor
.DS_Store
# Salesforce describe outputs / generated local files
*Describe*.json
accDescribe.json
leadDescribe*.json
oppDescribe.json

# Salesforce CLI local files
force.json
