.tr-red {
    background-color:#fb617b;
    color: white;
}

.tr-green {
    background-color:#f2f8e7;
}

.tr-black{
    
}

.link-white {
    color: white;
}

.link-black {
    color: rgb(1, 0, 5);
}